@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Search for an Artist Here</h1>
    <form action="/categories" method="post">
      <label for="categoryName">Search Artist Name</label>
      <input id="categoryName" name="categoryName" type="text">
      <button type="submit">Add</button>
    </form>
    <p><a href="/">Back home</a></p>
    <p><a href="/categories">Back to music artists</a></p>
</div>