@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Welcome To Your CD Music List!</h1>
  <h3><a href='/categories'>View music aritsts</a></h3>
  <h3><a href='/categories/new'>Add a new music artist</a></h3>
  <h3><a href="/categories/searchbyartist">Search for an artist</a>
</div>